@import "tailwindcss";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

/* Hide Scrollbar but Keep Scrolling Functionality */
.custom-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
}

/* Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}